.banner {
  background-image: url(/landing/images/background.png);
  size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
}

.banner p {
  color: white;
  font-size: 20px;
  opacity: 0.7;
}

.container {
  width: 900px;
  margin: auto;
}

.align-center {
  text-align: center;
}
